<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar"> 
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
  
        <h1 class="example-app-name">TAREA2APP</h1>
  
        <span class="example-spacer"></span>
  
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="over">

            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/persona" style="cursor: pointer">
                <mat-icon>star_rate</mat-icon>
                <span>Personas</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/producto" style="cursor: pointer">
                <mat-icon>healing</mat-icon>
                <span>Productos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/venta" style="cursor: pointer">
                <mat-icon>healing</mat-icon>
                <span>Venta</span>
            </button>
        </mat-sidenav>
        
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
  
</div>